.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s; /* Specify the property for clarity */
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.rating input {
    position: absolute;
    top: -9999px; /* Hide input */
}

.rating label {
    float: right;
    width: 1em;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
    overflow: hidden; /* Keep this here for better readability */
    white-space: nowrap;
}

/* Use a common before content for all labels */
.rating label:before {
    content: '★ '; /* Star symbol */
}

.rating > input:checked ~ label {
    color: #ffc700; /* Color for selected rating */
}

.rating label:hover,
.rating label:hover ~ label {
    color: #deb217; /* Color on hover */
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label {
    color: #c59b08; /* Color when hovering over selected */
}
