{% extends 'base.html' %}

{% block title %}Password Change - {{ block.super }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mb-4">Password Change</h2>
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {# Render fields individually for better optimization #}
                        {{ form.old_password.label_tag }} {{ form.old_password }}
                        {{ form.new_password1.label_tag }} {{ form.new_password1 }}
                        {{ form.new_password2.label_tag }} {{ form.new_password2 }}
                        
                        <button type="submit" class="btn btn-primary mt-3">Change Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
