

{% load static %}

{% if advertisement %}
    <div class="advertisement">
        {% if advertisement.url %}
            <a href="{{ advertisement.url }}" target="_blank">
        {% endif %}
        {% if advertisement.image %}
            <img src="{{ advertisement.image.url }}" alt="{{ advertisement.title }}" class="img-fluid">
        {% else %}
            <h3>{{ advertisement.title }}</h3>
            <p>{{ advertisement.content }}</p>
        {% endif %}
        {% if advertisement.url %}
            </a>
        {% endif %}
    </div>
{% endif %}
