
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}পরীক্ষা সেটিংস{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">{% if form.instance.pk %}পরীক্ষা সেটিংস আপডেট{% else %}নতুন পরীক্ষা সেটিংস{% endif %}</h1>
    <h2>{{ exam.title }}</h2>

    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">{% if form.instance.pk %}আপডেট করুন{% else %}তৈরি করুন{% endif %}</button>
    </form>
</div>
{% endblock %}
