
<div class="card">
    <div class="card-header">
        <h3 class="card-title">পারফরম্যান্স মেট্রিক্স</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3 text-center">
                <h4>{{ data.total_exams }}</h4>
                <p>মোট পরীক্ষা</p>
            </div>
            <div class="col-md-3 text-center">
                <h4>{{ data.avg_score }}%</h4>
                <p>গড় স্কোর</p>
            </div>
            <div class="col-md-3 text-center">
                <h4>{{ data.correct_answers }}</h4>
                <p>সঠিক উত্তর</p>
            </div>
            <div class="col-md-3 text-center">
                <h4>{{ data.wrong_answers }}</h4>
                <p>ভুল উত্তর</p>
            </div>
        </div>
        <div class="text-center mt-3">
            <a href="{% url 'dashboard:performance_analysis' %}" class="btn btn-info">বিস্তারিত পারফরম্যান্স বিশ্লেষণ</a>
        </div>
    </div>
</div>
