{% extends "base.html" %}

{% block content %}
<h1>আপনার নোটিফিকেশন</h1>
<ul>
{% for notification in notifications %}
    <li>
        <a href="{% url 'notification_detail' notification.id %}">
            {{ notification.get_notification_type_display }}: {{ notification.get_stripped_title }}
        </a>
        {% if not notification.is_read %}
            <span class="badge badge-primary">নতুন</span>
        {% endif %}
    </li>
{% empty %}
    <li>কোনো নোটিফিকেশন নেই।</li>
{% endfor %}
</ul>
{% endblock %}
